:root {
    --font-family: 'Hero', sans-serif;
    --second-family: 'Silkscreen', 'Silkscreen [Rus by Mr.Enot]', sans-serif;
    --third-family: 'RadiotechnikaRegular', sans-serif;
    --font3: 'NEOPIXEL-Regular', sans-serif;
    --font4: 'PIXY', sans-serif;
    --font5: 'Silkscreen [Rus by Mr.Enot]', sans-serif;
}
